@model Core.AuthorizationModel.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Авторизация</title>
    <link rel = "stylesheet" href="css/Authorization.css"/>
</head>
<body>
<div>
    <div>

        <h2>Вход</h2>
        <form asp-action="Authorization" method="post">
            <div>
                <label asp-for="Login">логин</label>
                <input asp-for="Login"/>
            </div>
            <div>
                <label asp-for="Password">пароль</label>
                <input asp-for="Password"/>
            </div>
            <button type="submit">войти</button>
        </form>
        <a asp-controller="Registration" asp-action="Register">Зарегестрироваться</a>
    </div>
</div>
</body>
</html>