@model Core.AuthorizationModel.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Authorization.css">
</head>
<body>
<div>
    <h2>Оценка пвк</h2>
</div>
<div>
    @if (User.IsInRole("admin"))
    {
        <div><h2><a asp-action="AdminPanel" asp-controller="Admin">Добавить в группу студентов</a></h2></div>
    }
</div>
<form asp-controller="Authorization" asp-action="Logout" method="post">
    <button type="submit">Выйти</button>
</form>
</body>
</html>