@model Core.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Authorization.css">
</head>
<body>
<div>
    <h2>Оценка пвк</h2>
</div>
<div>
    <h2><a asp-action="Profile" asp-controller="Profile">Профиль</a></h2>
    @if (User.IsInRole("admin"))
    {
        <div>
            <h2><a asp-action="AdminPanel" asp-controller="Admin">Добавить в группу студентов</a></h2></div>
        <div>
            <h2><a asp-action="CreateGroup" asp-controller="Admin">Создать группу</a></h2></div>
        <div>
            <h2><a asp-action="Management" asp-controller="Admin">Выберите стажера</a></h2>
        </div>
    }
</div>
<h2>@if (Model.Name == null || Model.Surname == null)
    {
        <span style="color: red;">Введите данные в профиле</span>
    }</h2>
<form asp-controller="Authorization" asp-action="Logout" method="post">
    <button type="submit">Выйти</button>
</form>

</body>
</html>